<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Patients</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <style type="text/css">
      .table-container
      {
        margin-top: 5%;
      }
      body, html{
           height: 100%;
       	background-repeat: no-repeat;
       	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
       	font-family: 'Oxygen', sans-serif;
      	    background-size: cover;
      }

    </style>
    <script type="text/javascript">

    $( document ).ready(function() {
      console.log( "ready!" );
      $.ajax({
             url: '/surveyofpatient',
             data: {
                format: 'json',
                email:'patient1@gmail.com'
             },
             error: function() {
                $('body').html('<p>An error has occurred</p>');
             },
             dataType: 'json',
             success: function(dataSet) {
              var dataScoreAndSurvey = dataSet.patients[0]["survey"].split('**');
              var ques = dataScoreAndSurvey[0].split('%');
              var survey = [];
              for (var i = 1; i < ques.length; i++) {
                var res = ques[i].split('#');
                survey.push(new Array(res[0],res[1]));
              }
              console.log(survey);
              var allscores = dataScoreAndSurvey[1].split('&&');
              var scores = [];
              for (var i = 1; i < allscores.length; i++) {
                scores.push(new Array(allscores[i].split(':')[0],allscores[i].split(':')[1].replace(',','')));
              }
              $('#table-patients').DataTable( {
                data: survey,
                columns: [
                { title: "Question" },
                { title: "Answer" }
              ]
            });
            $('#table-score').DataTable( {
              data: scores,
              columns: [
              { title: "Score Factor" },
              { title: "Score" }
            ]
          });
             },
             type: 'POST'
          });
    });

    </script>

  </head>

  <body>
    <div class="table-container">
      <table id="table-patients" class="table table-striped table-bordered table-responsive"></table>
    </div>
    <div class="table-container">
      <table id="table-score" class="table table-striped table-bordered table-responsive"></table>
    </div>

  </body>
</html>
